<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the rich tapestry of Palestinian history through an interactive educational journey. Explore cultural heritage, historical timelines, and compelling stories.">
    
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Palestinian History | Interactive Educational Journey">
    <meta property="og:description" content="Explore Palestinian heritage through interactive timelines, galleries, and stories.">
    <meta property="og:image" content="https://www.1palestine.org/cover">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="/static/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
     <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    
    <title>1Palestine</title>
</head>
<body dir="ltr">

   {% include 'partials/navbar.html' %}
    {% block content %}{% endblock %}
    
<script >
  const navToggle = document.querySelector(".nav_toggle");
const linksContainer = document.querySelector(".links");

// When the toggle button is clicked...
navToggle.onclick = () => {
  // ...add or remove the 'active' class from the links container.
  linksContainer.classList.toggle('active');
};</script>
<script src="{{url_for('static',filename='js/script.js')}}">
</script>
{% include 'partials/footer.html' %}
</body>
</html>