.footer{
 background-color:#A50307;
 color:white;
padding:45px;
}

.mission{
  width:55%;

}

.line{
  margin:30px 0;
  height:2px;
  width:100%;
  border-top:white solid 2px;
  text-align:center;
}

@media only screen and (max-width: 1050px) {
  .footer{
    font-size:14px;
    padding: 20px ;
    width: 100% !important;
  }
  .mission,.impact{
    width:100% !important;
   
  }
 

  .impact{
     margin-top:30px;
    padding-top:30px;
     border-top:white solid 2px;
  }
}
@media screen and (max-width: 750px)  {
	nav ~ div{
    margin:8px !important;
  }
}
@media only screen and (max-width: 350px) {
    .footer{
    padding: 10px !important;
  }
 .mission div p{
    font-size: 15px !important;
    width:300px !important;
  }
  .nav_links input{
    padding:3px;
    font-size: 14px;
  }
}