{% extends "partials/layout.html" %}
{% block content %}
<main class ="flex-column  w-100">
  <div class ="flex-column p-50 ai-center jc-spaceb w-100 text-center">
    <div class ="flex-column p-50 ai-center jc-spaceb">
      <span class="font-50 mb-40 weight-700">About Us</span>
      <p class="font-24 w-70">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>
    </div>
    <div>
    </div>
  </div>
  <div class="p-50 flex-column jc-center ai-center w-100">
    <p class="font-50">Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo<p>
  </div>
  <div class="p-50 flex-column jc-center ai-center row-gap-30">
    <div class="mt-50"><span class="font-30 weight-700" >Our Impact So Far</span></div>
    <div class="flex-row  jc-spacea flex-wrap w-100 row-gap-20">
    
      <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p  class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
     
    </div>
  </div>
  
  <!---->
  <div class="p-50 flex-column row-gap-20">
    <div class="mission flex-wrap flex-row p-20 w-100 row-gap-20">
      <div class="font-40">Our Vision</div>
      <div class="flex-column row-gap-10 line-25">
      <p class="font-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.</p>
        </div>
    </div>
       <div class="mission flex-wrap flex-row p-20 w-100 row-gap-20">
      <div class="font-40">Our Mission</div>
         <div class="flex-column row-gap-10 line-25">
      <p class="font-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.</p>
           </div>
    </div>
       <div class="mission  flex-wrap flex-row p-20 w-100 row-gap-20">
      <div class="font-40">Our Pillars</div>
      <div class="flex-column row-gap-10 line-25">
      <p class="font-16 mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.</p>
         
         <p class="font-16">
           Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt  explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut  odit aut fugit, sed quia consequuntur magni dolores eos qui ratione  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam  eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat  voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse  quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo  voluptas nulla pariatur?
         </p>
         </div>
    </div>
  </div>
  <div class="p-50 flex-column ai-center row-gap-20 text-center">
    <div class="font-30 weight-700 w-30 ">Join Newsletter</div>
    <div class="w-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
   
    <div class="w-40">
       <img class="email_icon" src="{{url_for('static',filename='icons/email.png')}}" alt="email icon">
      <input class="w-80 p-10 pl-40 font-18" placeholder="Email address">
      <button class="font-16 signup weight-700">Signup</button>
    </div>
  </div>
    <!---->
</main>
<style>
    .email_icon{
    position:relative;
    left:40px;
    top:6px;
    background:white;
    border:none;
    }

  .signup{
    position:relative;
    right:70px;
    width:0;
    background:white;
    border:none;
  }
  main >div:nth-child(5) input{
    border-radius:8px;
    border:1px grey solid;
  }
   .mission div{
     min-width:300px;
     flex-basis: 0;
    flex-grow:1;
  }
  .mission div:last-child{
    flex-grow:2.5;
  }
main >div{
    min-height:400px;
  }
  main >div:nth-child(3),main >div:nth-child(5){
    background:#D9D9D9;
  }
  main >div:nth-child(3) p{
    max-width:250px;
  }
  
  main > div:first-child{
    background:black;
    color:white;
    min-height:400px;
  }
  div.timespam span::before{
    content:"";
    display:block;
    background:white;
    border-radius:50%;
    width:12px;
    height:12px;
    position:relative;
    top:35px;
    left:15px;
    
  }
  hr{
    border:solid 1px white;
    margin-left:20px;
    margin-right:10px;
    position:relative;
    bottom:10px;
  }
  .v-line{
    display:inline-block;
    width:2px;
    background:black;
  }
    @media only screen and (max-width: 920px) {
      .mision{
        flex-direction:column;
      }
    .v-line{
      display:none;
    }

}
</style>
{% endblock %}