
{% extends "layout.html" %}
{% block content %}
<div class="about-page">
    <div class="about-item">
                <h2>About Us</h2>
            </div>
            <div class="about-item">
                <p>Our mission is to educate and foster a better future for Palestine by highlighting its rich history and vibrant culture. We aim to reveal hidden truths by sharing knowledge about forgotten Palestinian villages and the tragic massacres that affected them. Through engaging content and impactful storytelling, we strive to preserve Palestinian heritage and dispel myths, ensuring a well-informed and connected global community.</p>
            </div>
    </div>
</div>
{% endblock %}




   