{% extends "layout.html" %}
{% block content %}
<section class="admin">

                <form class="admin_form" action="add_writer" method="post">
                <h2>Add Writer</h2>
                {{ form.csrf_token }}
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      <button type="submit" class="submit_btn">Add Writer</button>

                </form>

  </section>
  {% endblock %}