
{% extends "layout.html" %}
{% block content %}
<section class="articles">

                <h2>Palestine Articles</h2>
                {{ form.csrf_token }}
                {% for row in rows %}
                <div class="article" id="article_{{row[0]}}">
                    <div>
                        <figure>
                            <img src="/static/cover.png" alt="{{row[1]}}">
                        
                    
                        </figure>
                    </div>
                    <div class="article_items">
                        <h4><a href="article/{{row[0]}}">{{row[1]}}</a></h4>
                        <p>{{row[2]}}</p>
                        <p>{{row[4]}}</p>
                        {% if  user %}
                        <div>
                            <a href="edit/{{row[0]}}"><button class="submit_btn">Edit</button></a> <button class="delete_btn" onclick="delete_article('{{row[0]}}')">Delete</button>
                        </div>
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}

   
</section>
{% endblock %}
