
{% extends "layout.html" %}
{% block content %}
<div class="admin post">
		<h2>Edit</h2>
		<form method="post">
            {{ form.csrf_token }}
			<div>
			{{ form.title.label(class="form-label") }}
			{{ form.title(class="form-control") }}
			</div>
			<div>
			{{ form.tags.label(class="form-label") }}
			{{ form.tags(class="form-control") }}
			</div><div>
			{{ form.desciption.label(class="form-label") }}<br>
			{{ form.desciption(class="form-control") }}
		</div><div>
			{{ form.body.label(class="form-label") }}
			{{ form.body(class="form-control", rows="10") }}
		</div>
			{{ form.submit }}
		</form>
	
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
</div>
{% endblock %}
