{% extends "layout.html" %}
{% block content %}

















<div class="flex_column m-50 row-gap-40">
    <div class="hero flex_row flex_wrap jc_spaceb">
      <div class="hero_image"><img class="w-100 h-100" src="/static/Images/hero_image.png"></div>
      <div class="hero_description flex_column jc_spaceb mt-30">
        <div>
          <h2 class="hero_title">WELCOME TO 1PALESTINE</h2>
          <p class="hero_p font-20">1Palestine is spearheading an advancement in the Palestinian Liberation movement through engaging stories and deep dives into the rich history of Palestine. We highlight the stories, the memories and the landscapes of Palestine.</p>
        </div>
        <div>
          <span class="special_red italic">READ MORE</span>
        </div>
      </div>
    </div>
    <div class="flex_column ">
      <div class="flex_row jc_spaceb font-14 mb-30"><span>NEWLY ADDED ARTICLES</span><span><i class="mr-10 fa-solid fa-arrow-left"></i> <i class="fa-solid fa-arrow-right"></i></span></div>
       <div class="flex_row column-gap-20 flex_wrap rg-20">
         <div class="image-container">
             <img src="/static/Images/image1.png" alt="Laptop on a desk" class="background-img">
        
             <div class="flex_column m-10 row-gap-80 h-350">
                 <div>
                     <span class="font-14 mb-30">DEBUNKING MYTHS</span>
                     <p class="font-20 weight-700 ">What does the phrase a land without people for a people without a land mean?</p>
                 </div>
                 <div >
                     <span class="special_red italic">HANDALA APPROVED</span>
                 </div>
             </div>
         </div>
         
         <div class="image-container">
             <img src="/static/Images/image2.png" alt="Laptop on a desk" class="background-img">
       
             <div class="flex_column m-10 row-gap-80 h-350">
                 <div>
                     <span class="font-14 mb-30">MUSIC</span>
                     <p class="font-20 weight-700 ">The Intifada 1987 | Riad Awwad, Hanan Awwad and Mahmoud Darwish</p>
                 </div>
                 <div >
                     <span class="special_red italic"></span>
                 </div>
             </div>
         </div>
         <div class="image-container">
             <img src="/static/Images/image3.png" alt="Laptop on a desk" class="background-img">
       
             <div class="flex_column m-10 row-gap-80 h-350">
                 <div>
                    <span class="font-14 mb-30">LEBANON</span>
                    <p class="font-20 weight-700 ">Why does no one remember the Sabra and Shatila massacre?</p>
                 </div>
                 <div >
                    <span class="special_red italic">HANDALA APPROVED</span>
                 </div>
             </div>
         </div>
         <div class="image-container">
             <img src="/static/Images/image4.png" alt="Laptop on a desk" class="background-img">
       
             <div class="flex_column m-10 row-gap-80 h-350">
                 <div>
                    <span class="font-14 mb-30">CULTURE</span>
                    <p class="font-20 weight-700 ">Threading Together Palestinian National Identity</p>
                  </div>
                  <div >
                    <span class="special_red italic"></span>
                  </div>
             </div>
          </div>
    </div>
    </div>

    <div class="flex_column">
      <div class="flex_row jc_spaceb font-14 mb-30"><span>PALESTINE THROUGH HISTORY</span><span><i class="mr-10 fa-solid fa-arrow-left"></i> <i class="fa-solid fa-arrow-right"></i></span></div>
      <div class="hero flex_row jc_spaceb row-gap-20">
         <div class="hero_image "><img class="w-100 h-100 max-h-400" src="/static/Images/timeline1.png"> </div>
         <div class="flex_column jc_spaceb hero_description">
            <div class="max-h-400">
              <span class="mb-20">1920-1948</span>
              <h3 class="font-24 mb-30">MANDATORY PALESTINE</h3>
              <p class="font-18 line-25 weight-500 ellipsis">The Mandate for Palestine was a League of Nations mandate for British administration of the territories of Palestine and Transjordan – which had been part of the Ottoman Empire for four centuries – following the defeat of the Ottoman Empire in World War I. The mandate was assigned to Britain by the San Remo conference in April 1920, after France's concession in the 1918 Clemenceau–Lloyd George Agreement. 

Mandatory Palestine was a British geopolitical entity that existed between 1920.</p>
            </div>
            <div>
              <span class="special_red font_italic weight-700">READ MORE</span>
            </div>
          </div>
    </div>
    </div>
    
    
  <div class="flex_column">
    <div class="flex_row jc_spaceb font-14"><span>GET INVOLVED</span><span><i class="mr-10 fa-solid fa-arrow-left"></i> <i class="fa-solid fa-arrow-right"></i></span></div>
    <div>
    </div>
  </div>
  </div>
  </div>
  
{% endblock %}