{% extends "./partials/layout.html" %}
{% block content %}
<main class ="flex-column  w-100">
  <div class ="flex-column p-50 ai-center jc-spaceb w-100 text-center">
    <div></div>
    <div>
      <h1>Palestine Under British Mandate</h1>
      <p>Palestinian society thrives with rich cultural traditions, agriculture, and urban centers before the systematic displacement begins</p>
    </div>
    <div>
      <div>
      <div class="timespam flex-row column-gap-20 mb-20">
        <span>1920</span>
        <span>1948</span>
        <span>1967</span>
        <span>1987</span>
        <span>1987</span>
      </div>
        <hr>
       </div>
    </div>
  </div>
  
  <div class="p-50 flex-column jc-center ai-center w-100">
    <p class="font-50">Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo<p>
  </div>
  
  <div class="p-50 flex-column jc-center ai-center row-gap-30">
    <div class="mt-50"><span class="font-30 weight-700" >Our Impact So Far</span></div>
    <div class="flex-row  jc-spacea flex-wrap column-gap-20 row-gap-20">
      <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p  class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
      <span class="v-line"></span>
       <div class="flex-column text-center row-gap-10">
        <div class="font-24 weight-700">15k+</div>
          <span class="font-16 weight-700">Lorem ipsum dolor sit ame</span>
          <p class="font-14 weight-500 ellipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
  </div>
</main>
<style>
  main >div{
    min-height:500px;
  }
  main >div:last-child{
    background:#D9D9D9;
  }
  main >div:last-child p{
    max-width:250px;
  }
  
  main > div:first-child{
    background:black;
    color:white;
  }
  div.timespam span::before{
    content:"";
    display:block;
    background:white;
    border-radius:50%;
    width:12px;
    height:12px;
    position:relative;
    top:35px;
    left:15px;
    
  }
  hr{
    border:solid 1px white;
    margin-left:20px;
    margin-right:10px;
    position:relative;
    bottom:10px;
  }
  .v-line{
    width:2px;
    background:black;
    height:100%;
  }
</style>
  
{% endblock %}