<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover the rich tapestry of Palestinian history through an interactive educational journey. Explore cultural heritage, historical timelines, and compelling stories.">
    
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Palestinian History | Interactive Educational Journey">
    <meta property="og:description" content="Explore Palestinian heritage through interactive timelines, galleries, and stories.">
    <meta property="og:image" content="https://www.1palestine.org/cover">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="/static/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    
    <title>1Palestine</title>
</head>
<body dir="ltr">

      <nav class="nav flex_column">
    <div class="nav_logo flex_row">
      <a href="/"> <img class="h-100px" height="250px" src="/static/Images/colored_logo.png" alt="1Palestine Logo"></a>
    </div>
    <div class="nav_links flex_row">
      <div>
        <input type="search" placeholder="Search in site">
        <svg  class="search_icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
<path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
</svg>
      </div>
      
      <div class="links">
        <button class="nav_toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
        <a href="#">History</a>
        <a href="#">Projects</a>
        <a href="#">Resources</a>
        <a href="#">About</a>
      </div>
    </div>
  </nav>
    {% block content %}{% endblock %}
<footer class="footer flex_column">
  <div class="flex_row flex_wrap mb-20 jc_spaceb">
    <div class="mission flex_column">
      <div>
        <img class="footer_logo" height="150px" src="/static/Images/white_logo.png" alt="1Palestine Logo">
      </div>
      <div>
        <p class="font-20 line-25 weight-600">
          Our mission is to educate and foster a better future for Palestine by highlighting its rich history and vibrant culture. 
          We aim to reveal hidden truths by sharing knowledge about forgotten Palestinian villages and the tragic massacres that affected them. 
          Through engaging content and impactful storytelling, we strive to preserve Palestinian heritage and dispel myths, 
          ensuring a well-informed and connected global community.
        </p>
        <br>
        <p class="font-20  line-25 weight-600"> 
          We aim to unite Palestinians and their allies through a deeply accurate understanding of Palestinian identity and history, 
          preserving our heritage and dispelling myths across diverse platforms.
        </p>
      </div>      
      <div class="flex_row  flex_wrap column-gap-20 row-gap-20">
        <div class="flex_column row-gap-10">
          <h5 class="font-18">History</h5>
          <a class="font-16">Articles</a>
          <a class="font-16">Timeline</a>
          <a class="font-16">Deep Dives</a>
          <a class="font-16">FAQ</a>
        </div>
        <div class="flex_column row-gap-10">
          <h5 class="font-18">Projects</h5>
          <a class="font-16">Palestinian Projects</a>
          <a class="font-16">Artistic Showcase</a>
          <a class="font-16">Debunking Myts</a>
          <a class="font-16">Volunteer</a>
        </div>
        <div class="flex_column row-gap-10">
          <h5 class="font-18">Resources</h5>
          <a class="font-16">Books</a>
          <a class="font-16">Films</a>
          <a class="font-16">Podcasts</a>
          <a class="font-16">Glossary</a>
        </div>
        <div class="flex_column row-gap-10">
          <h5 class="font-18">About</h5>
          <a class="font-16">Mission</a>
          <a class="font-16">Vision</a>
          <a class="font-16">Who We Are</a>
        </div>
      </div>
    </div>
    <div class="flex_column  w-30 row-gap-30 impact">
      <div>
        <h3 class="font-24">Impact Oreview</h3>
        <p class="font-18">Since Launching in 2025, we've been<br> growing our community!</p>
      </div>
      <div class="flex_row flex_wrap column-gap-20 row-gap-20">
        <div >
          <h4 class="font-18">22</h4>
          <span class="font-16">Projects Launched</span>
        </div>
        <div >
          <h4 class="font-18">8,000+</h4>
          <span class="font-16">Community Members</span>
        </div>
        <div >
          <h4 class="font-18">75</h4>
          <span class="font-16">Events Held</span>
        </div>
      </div>
      <div>
        <h3 class="font-30">Join The Movement</h3>
        <span class="font-24">Join Our Discord Community or sign up to Volunteer
          with Volunteer4Palestine!
        </span>
        <div class="flex_row column-gap-20 mt-10">
          <span><img src="/static/Images/icons/rd.png"></span>
          <span><img src="/static/Images/icons/tw.png"></span>
          <span><img src="/static/Images/icons/fb.png"></span>
          <span><img src="/static/Images/icons/in.png"></span>
          <span><img src="/static/Images/icons/tk.png"></span>
          <span><img src="/static/Images/icons/qr.png"></span>
        </div>
      </div>

    </div>
  </div>
    <div class="line">

    </div>
  <div class="flex_row flex_wrap jc_spaceb">
    <div>
      <span>Privacy</span>
      <span>Terms of Use</span>
    </div>
    <div>
      <div>© 2025 1Palestine. All rights reserved.</div>
    </div>
  </div>
  
</footer>
<script >
  const navToggle = document.querySelector(".nav_toggle");
const linksContainer = document.querySelector(".links");

// When the toggle button is clicked...
navToggle.onclick = () => {
  // ...add or remove the 'active' class from the links container.
  linksContainer.classList.toggle('active');
};</script>
<script src="/static/js/script.js">
</script>
</body>
</html>