
{% extends "partials/layout.html" %}
{% block content %}
<main class ="flex-row  w-100">
  <div class="w-50 pt-50 flex-column row-gap-30 ai-center text-center">
    <div class="font-40 mt-50 w-50">Zionist Myths</div>
    <div class="font-20 line-25 w-50">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </div>
  </div>
  <div class="w-50 flex-column p-50 jc-center" >
    <details >
  <summary class="flex-row jc-spaceb w-100 ai-center"><span>Is it true that Palestinians sold their lands to Zionists and were not dispossessed in 1948?</span><span class="plus"></span></summary>
  <p class="font-18">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
      <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Is it true that only Zionists were called Palestinians during the Mandate period?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
      <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Palestinians were economic migrants who moved to Palestine after Zionist induced prosperity.</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
      <details >
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Was there Palestine and Palestinians before 1948?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
      <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Is it a call for genocide when Palestinians say “From the river to the sea, Palestine will be free”?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
      <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Are Palestinian Christians leaving due to Palestinian Muslims?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
          <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Are all Israelis equal?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
   <details>
     <summary class="flex-row jc-spaceb ai-center w-100"><span>Is Israel a democracy?</span><span class="plus"></span></summary>
  <p class="line-25">It’s virtually impossible to be involved in Palestine activism without being barraged by the mantra that “Israel is the only democracy in the Middle East“. This talking point is invoked whenever the need to justify Israeli behavior is needed, even if the topic under discussion is completely unrelated. Indeed, in the minds of those who utilize it, it confers an automatic moral superiority to Israel which further distinguishes it from its “backwards” neighbors, and ex post facto legitimizes its actions.
<sep></sep>
There are multiple issues with this talking point, and we could discuss it for hundreds of pages, but for the sake of expedience we will briefly focus on two major ones.
<sep></sep>
First, there is an erroneous assumption that being a democracy automatically confers an elevated moral position. The usual line of reasoning is that if a state is a democracy then it listens to the needs and wants of its citizens, who generally tend to want to steer clear of war, misery and repression. A further element of this is that democratic leaders are accountable to their people which makes them think twice before enacting any of these policies.
<sep></sep>
While this may sound good on paper, there is scant empirical evidence to support it. For example, when it comes to war and aggression against other countries, there is absolutely no evidence to support the claim that democratic countries differ from non-democratic countries, either in initiation or participation in wars.
But we needn’t go so far and talk about wars, let us think of the Jim Crow United States, which was classified as a democracy at the time. If a state practicing such untold injustice and repression against its own citizens -let alone people abroad- could maintain the moniker of democracy, then how could anyone seriously claim that being a democracy automatically makes a state good or just? Post WWII France waxed poetic about freedom and democracy domestically while it was committing genocide in its colonies. We see similar patterns in all the settler colonies which consider themselves democratic while dispossessing and brutally oppressing their native populations.
<sep></sep>
The simplistic and ideologically driven urge to divide the world into “good states” and “bad states” based on whether they are a democracy or not is based on a fictitious assumed morality of democratic states. When it comes to international politics, morality and altruism, while often invoked as pretexts for action, are mere window-dressing for political ambitions. This becomes exceedingly clear when we see the self-anointed “champions of democracy” sponsoring and supporting coups against democratic governments which posed a threat to the West’s regional interests, such as the 1953 coup against Mosaddeq in Iran. Meanwhile, these same “champions” would prop up and reinforce the most reactionary and tyrannical regimes imaginable if they were deemed beneficial to their interests in the region.
<sep></sep>
This bias has been inculcated by decades of propaganda, which paints warmongering from democratic states as noble, involuntary and for the greater good, while downplaying the frequency of said warmongering.</p>
</details>
     <details>
       <summary class="flex-row jc-spaceb ai-center w-100"><span>Is Israel an Apartheid state?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
    <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Did Israel, Syria, Iraq, and Egypt begin the Six-Day War in 1967?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
    <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>What is the perspective of Palestinians on two vs. one state?</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
    <details>
  <summary class="flex-row jc-spaceb ai-center w-100"><span>Palestinians fled in 1948 because the Arab armies encouraged them to do so.</span><span class="plus"></span></summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>
  </div>
</main>
<style>
  .plus{
    height:20px;
    
    border-left:3px black solid;
    display:block;
  }
  .plus::after{
    content:"";
    background:black;
    display:block;
    width:20px;
    height:3px;
    position:relative;
    top:9px;
    right:11px;
    
  }
  sep{
    margin:20px !important;
    display:block !important;
  }
  main >div:first-child{
    background:black;
    color:white;
  }
  main >div{
    min-height:300px;
  }
  
  
  details summary {
  list-style: none;          /* Remove default list marker */
}

details summary::-webkit-details-marker {
  display: none;             /* Hide the arrow in Chrome, Safari, Edge */
}

details summary::marker {
  display: none;             /* Hide the arrow in Firefox */
}

details {
  border-radius: 5px;
}

summary {
  padding:30px 0px;
  border-bottom: 2px solid black;
  cursor: pointer;
  font-weight: bold;
}
  summary span:first-child{
    width:90%;
    line-height:20px;
  }
  details p{
    padding:30px 0px;
  }
  @media only screen and (max-width: 980px) {
    main {
      flex-direction:column !important;
    }
    main >div{
      width:100% !important;
    }
}
@media only screen and (max-width: 480px) {
    .plus{
        display:none;
    }
    summary span:first-child{
    width:100%;
    line-height:20px;
  }
    main {
      flex-direction:column !important;
    }
    main >div{
      width:100% !important;
    }
}
</style>
<script>
  
document.querySelectorAll("summary").forEach(item=>item.onclick=(e)=>{
    let el;
    if(e.target.tagName =="SUMMARY"){
    el =   e.target.querySelector(".plus")
    }
    else{
        el =e.target.parentElement.querySelector(".plus")
    }
    if(el.style.transform=='rotateZ(45deg)'){
        el.style.transform='rotateZ(0deg)'
    }
    else{
         el.style.transform='rotateZ(45deg)'
        
    }
    
})
</script>
{% endblock %}
