<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
</head>
<body>
	<div class="warpper" style="width: 700px; margin: auto">
		<h1>Add article</h1>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.title.label(class="form-label") }}<br>
			{{ form.title(class="form-control") }}<br>
			{{ form.tags.label(class="form-label") }}<br>
			{{ form.tags(class="form-control") }}<br>
			{{ form.desciption.label(class="form-label") }}<br>
			{{ form.desciption(class="form-control") }}<br><br>
			{{ form.body.label(class="form-label") }}<br>
			{{ form.body(class="form-control", rows="10") }}
			<br>
			{{ form.submit }}
		</form>
	</div>
    {{ ckeditor.load() }}
	{{ ckeditor.config(name='body') }}
</body>
</html>
