
{% extends "layout.html" %}
{% block content %}

    <!-- Blog-Section -->
    <section class="blog-single">
        <div class="container">
            <div class="main-contant">
                <div class="row">
                    <div class="col-sm-12">
                        <figure class="figure">
                            <img src="static/images/blog-single-page-bg.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">

                        </figure>
                    </div>
                    <div class="col-sm-12">
                        <h3>Night view of New York City, long exposure from the front apex building.</h3>

                        <p>Welcome to my <a href="single.html">personal travel</a> blog, i love to travel the globe, i have been to so many beautiful places and met interesting people the world, this website is my mirror of life. Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. </p>

                        <p>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. <br> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...</p>

                        <p><span class="quote-left">“</span>Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.<span class="quote-right">”</span></p>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                            <label class="custom-control-label" for="defaultCheckedDisabled2">Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world.</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                            <label class="custom-control-label" for="defaultCheckedDisabled2">This website is my mirror of life. Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful Welcome to</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                            <label class="custom-control-label" for="defaultCheckedDisabled2">My personal travel blog, i love to travel the globe.</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                            <label class="custom-control-label" for="defaultCheckedDisabled2">Have been to so many beautiful places and met interes Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.</label>
                        </div>

                        <p>Welcome to my <a href="single.html">personal travel</a> blog, i love to travel the globe, i have been to so many beautiful places and met interesting people the world, this website is my mirror of life. Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life. Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e world, this website is my mirror of life. Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...</p>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Suggested Posts to Read</h2>
                    </div>
                </div>
                <div class="row">
                    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-6 box-2">
                 <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                   <div class="overlay">
                    
                     <div class="text">Man standing on the middle of the road in the morning </div>
                     
                   </div>
               </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-md-6 box-2">
                 <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                   <div class="overlay">
                    
                     <div class="text">Man standing on the middle of the road in the morning </div>
                    
                   </div>
               </a>
                </div>
                <hr/>
            

            </div>
        </div>
    </section>
{% endblock %}


    <!-- Support section Ended -->
    <!--/.Portfolio-Section -->
    <!-- Footer -->
   