{% extends "layout.html" %}
{% block content %}
<div class="slider_timeline">
    <span class="arrow left_arrow" onclick="previous_slide()"></span>
    <a href="timeline/1" class="slide_img"></a>
    <a href="timeline/2" class="slide_img"></a>
    <a href="timeline/3" class="slide_img"></a>
    <a href="timeline/4" class="slide_img"></a>
    <a href="timeline/5" class="slide_img"></a>
    <a href="timeline/6" class="slide_img"></a>
    <a href="timeline/7" class="slide_img"></a>
    <a href="timeline/8" class="slide_img"></a>
    <a href="timeline/9" class="slide_img"></a>
    
    <a href="timeline/10" class="slide_img" style="display:none;"></a>
    <a href="timeline/11" class="slide_img" style="display:none;"></a>
    <a href="timeline/12" class="slide_img" style="display:none;"></a>
    <a href="timeline/13" class="slide_img" style="display:none;"></a>
    <a href="timeline/14" class="slide_img" style="display:none;"></a>
    <a href="timeline/15" class="slide_img" style="display:none;"></a>
    <a href="timeline/16" class="slide_img" style="display:none;"></a>
    <a href="timeline/17" class="slide_img" style="display:none;"></a>
    <a href="timeline/18" class="slide_img" style="display:none;"></a>
    <a href="timeline/19" class="slide_img" style="display:none;"></a>
    <a href="timeline/20" class="slide_img" style="display:none;"></a>
    <span class="arrow right_arrow" onclick="next_slide()"></span>
</div>
<div class="main">
<h1>Palestine Through Time</h1>
<p>4,000 Years Of History, Culture & Heritage</p>
</div>
{% endblock %}