
{% extends "layout.html" %}
{% block content %}

<div class ="timeline_slide">
<span class="sleft_arrow" onclick="left_clicked"></span>

<img class="slide_image" src="/static/Images/timeline/timeline{{id}}.jpg">
<span class="sright_arrow" onclick="right_clicked()"></span>

</div>
<div class="timeline_container">
<div class="story">
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</div>
<div class="time_steps">
<h2>Timeline</h2>
<div class="time_item"><span class="time_date">4000-3000 BCE</span><spam class="time_event">Dawn of Palestine Civilization</spam></div>
<div class="time_item"><span class="time_date">3000-2000 BCE</span><spam class="time_event">Urban Development & Trade</spam></div>
<div class="time_item"><span class="time_date">2000-1550 BCE</span><spam class="time_event">Culturale Flourishing</spam></div>
<div class="time_item"><span class="time_date">1550-586 BCE</span><spam class="time_event">Technological Advancement</spam></div>
<div class="time_item"><span class="time_date">586-332 BCE</span><spam class="time_event">Cultural Exchange Era</spam></div>
<div class="time_item"><span class="time_date">4332-63 BCE</span><spam class="time_event">Hellenistic Influence</spam></div>
<div class="time_item"><span class="time_date">63 BCE-324 CE</span><spam class="time_event">Roman Era</spam></div>
<div class="time_item"><span class="time_date">324-636 CE</span><spam class="time_event">Byzantine Era</spam></div>
<div class="time_item"><span class="time_date">636-1099 CE</span><spam class="time_event">Islamic Golden Age</spam></div>
<div class="time_item"><span class="time_date">1099-1187 CE</span><spam class="time_event">Crusader Period</spam></div>
<div class="time_item"><span class="time_date">1187-1250 CE</span><spam class="time_event">Ayyubi Dynasty</spam></div>
<div class="time_item"><span class="time_date">1250-1516 CE</span><spam class="time_event">Mamluk Era</spam></div>
<div class="time_item"><span class="time_date">1516-1917 </span><spam class="time_event">Ottoman Era</spam></div>
<div class="time_item"><span class="time_date">1917-1948 </span><spam class="time_event">British Mandate Period</spam></div>
<div class="time_item"><span class="time_date">1948 </span><spam class="time_event">1948: Major Historical Events</spam></div>
<div class="time_item"><span class="time_date">1948-1967 </span><spam class="time_event">Post-1948: Decelopments</spam></div>
<div class="time_item"><span class="time_date">1987-1993 </span><spam class="time_event">First Intifada</spam></div>
<div class="time_item"><span class="time_date">1993-2000 </span><spam class="time_event">Oslo Accords Period</spam></div>
<div class="time_item"><span class="time_date">2000-2005 </span><spam class="time_event">Second Intifada</spam></div>
<div class="time_item"><span class="time_date">2005-Present </span><spam class="time_event">Contemporary Palestine</spam></div>
</div>
</div>

{% endblock %}